﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка 404 - страница не найдена</title>
    @Styles.Render("~/bundles/styles/main")
</head>
<body>
    <div class="container">
        <div class="center-block text-center">
            <img src="~/Content/Images/404.png" />
        </div>
    </div>
     @Scripts.Render("~/bundles/scripts/main")
</body>
</html>
